# Kafka producer for NY Times articles

We are using the kafka-python package

In [9]:
import pandas as pd
from kafka import KafkaProducer

Let's retrieve the data we previsously scrapped

In [10]:
df = pd.read_csv('nyt_articles.csv')
df.head()

,title,content
0,‘Yellow Vest’ Protests Shake France. Here’s th...,PARIS — Vincent Picard describes himself as a ...
1,"In a Seething Pro-Brexit Town, Doubts Creep In...","SUNDERLAND, England — They train in a gym near..."
2,Yemen Peace Talks Begin With Agreement to Free...,CAIRO — Yemen’s warring sides agreed on Thursd...
3,‘Already an Exception’: Merkel’s Legacy Is Sha...,"CHEMNITZ, Germany — Two weeks after announcing..."
4,Who Will Replace Angela Merkel as German Conse...,BERLIN — After 18 years under the leadership o...

Now we create the KafkaProducer which connects to the server

In [11]:
name_topic = 'nyt_articles'
server1 = 'ece1.adaltas.com:9093'

In [13]:
producer = KafkaProducer(bootstrap_servers=server1)

We will now push the data into the topic <i>nyt_articles</i>

In [10]:
def publish_message(producer_instance, title, content):
    try:
        producer_instance.send('nyt_articles', value=(title, content))
        producer_instance.flush()
        print('Message published successfully!')
    except Exception:
        print('Error while publishing')
        print(str(Exception))

In [ ]:
for idx, row in df.iterrows():
    publish_message(producer, row.title, row.content)
producer.close()

Error while publishing
<class 'Exception'>